{% extends "layout.html" %}
{% block content %}
    <div>
        <img src="data:image/jpeg;base64,{{ encoded_string.decode() }}" width="250" height="250">
    </div>
    {% for pattern in pattern_images %}
        <div class="column">

            <div>

                <form action="/annotation">
                    <input type="image" src="{{ url_for('static', filename=pattern) }}" width="75" height="75"/>
                </form>
                {{ pattern[:-5] }}
            </div>

        </div>
    {% endfor %}
    <div><a href="/annotation">Let annotate image!!!</a></div>

{% endblock %}