{% extends "layout.html" %}
{% block content %}

    <div class="block1">
        <h1>Hello {{ name }}!</h1>
        <h2>Here is an interesting quote for you: </h2>
        <p>
            {{ quote }}
        </p>
        <img src="http://www.naturalprogramming.com/images/smilingpython.gif">
        <img src="/static/plaid.jpeg">
    </div>
    <div class="block2">
        {% for post in posts %}
            <p>{{ post.author.username }} says: <b>{{ post.body }}</b></p>
        {% endfor %}
    </div>
    <div><a href="/annotation">Let annotate image!!!</a></div>

{% endblock %}